/* Start of background colors */
.header, .hero, .footer {
    background-color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
}

.action-bubble, button {
    background-color: #3882F6;
}
/* End of background colors */

/* Start of font styling */
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

/* End of font styling */